<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Reports::report">
                    <resource id="Ebizmarts_SagePaySuite::report_sagepaysuite" title="Sage Pay Reports" translate="title">
                        <resource id="Ebizmarts_SagePaySuite::token_report" title="Sage Pay Credit Card Tokens" translate="title" sortOrder="10">
                            <resource id="Ebizmarts_SagePaySuite::token_report_view" title="View" translate="title" sortOrder="10" />
                            <resource id="Ebizmarts_SagePaySuite::token_report_delete" title="Delete" translate="title" sortOrder="20" />
                        </resource>
                        <resource id="Ebizmarts_SagePaySuite::fraud_report" title="Sage Pay Fraud" translate="title" sortOrder="10">
                            <resource id="Ebizmarts_SagePaySuite::fraud_report_view" title="View" translate="title" sortOrder="10" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>