/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2021-06-30 12:23:17 */
body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
}
@media (max-width: 480px){
    .products-grid .product-item {
        float: none;
        width: 100%;
        padding: 10px 0;
    }
}

.owl-theme .owl-dots .owl-dot span {
    background: #fff;
    border: 2px solid #000;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #000;
}
.footer-middle {
    padding: 90px 80px;
}
.footer-middle > .container {
    width: 100%;
}
.footer-middle .newsletter label.label {
    display: none;
}
.footer-middle .newsletter #newsletter {
    background: transparent;
    border-radius: 0;
    height: 42px;
    padding: 10px 20px;
    display: block;
}
.footer-middle .newsletter button.action {
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    padding: 0;
    letter-spacing: 3px;
    transition: all 0.3s;
    box-shadow: 3px 3px 0 rgba(255,255,255,0.5);
    margin: 20px 0;
    display: block;
    width: 100%;
    border-radius: 0;
    border: 0;
}
.footer-bottom {
    padding: 0 80px;
}
.footer-bottom > .container {
    padding: 25px 15px;
    border-top: 1px solid #4d4d4d;
    width: 100%;
}
.footer-bottom address {
    float: none;
    text-align: center;
    line-height: 40px;
}
.catalog-category-view .block-category-list .block-title strong {
    font-weight: 600;
}
.catalog-category-view .block-category-list .block-content .item {
    margin: 0;
}
.catalog-category-view .block-category-list .block-content .item a {
    font-size: 13px;
    line-height: 2.5;
}
.catalog-category-view .filter-options-content a {
    color: #000 !important;
    font-weight: 600;
}
.catalog-category-view .filter-options-content a > input[type=checkbox] {
    display: inline-block;
    vertical-align: top;
    margin: 3px 5px 0 0;
}
.catalog-category-view .filter-options-content .count {
    color: #000;
}
.catalog-category-view .filter-options-title:after {
    border: 0;
    color: #000;
}
.catalog-category-view .filter-options-title:hover:after {
    background: transparent;
    color: #000;
}
#ln_slider_price.ui-slider-horizontal {
    background: #505050;
}
@media (max-width: 991px) {
    .footer-middle {
        padding: 50px 15px;
    }
    .footer-middle .block {
        margin-bottom: 30px;
    }
    .ajax-products {
        padding: 0 15px;
    }
    .footer-bottom {
        padding: 0 30px;
    }
}
@media (max-width: 767px) {
    .footer .block .block-content {
        max-width: 300px;
    }
}
@media (min-width:768px) {
    body.layout-fullwidth.catalog-category-view .page-main {
        padding-top: 0;
        padding-bottom: 0;
    }
    .catalog-category-view .columns .column.main {
        border-left: 1px solid #dcdcdc;
        position: relative;
        left: -1px;
        padding: 50px 0 50px 35px;
    }
    .catalog-category-view .columns .column.main.toggle-close {
        border-left-color: transparent;
    }
    .catalog-category-view .sidebar.sidebar-main {
        border-right: 1px solid #dcdcdc;
        padding: 50px 35px 50px 0;
    }
}
@media (min-width:992px) {
    body.layout-fullwidth .page-wrapper > .breadcrumbs .items {
        padding: 12px 85px;
    }
    body.layout-fullwidth.catalog-category-view .page-main {
        padding: 0 85px;
    }
}
@media (min-width:1200px) {
    .catalog-category-view .columns .column.main {
        width: 80%;
    }
    .catalog-category-view.page-layout-2columns-left .sidebar-main {
        width: 20%;
    }
}
@media (min-width:1440px) {
    .catalog-category-view .columns .column.main {
        width: 85%;
    }
    .catalog-category-view.page-layout-2columns-left .sidebar-main {
        width: 15%;
    }
}

/* PC Edits Site Build */
input#search {
left: 0px;
}
header.page-header.type14 {
background-color:#04432a;
}