/* additional tab in config section*/

.module-version {
    color: #ea7601;
}

.amasty-info-block .module-version.last-version {
    color: green;
}

.upgrade-error {
    display: inline-block;
}

.amasty-conflicts-title,
.version-title,
.module-version {
    letter-spacing: .025em;
    font-weight: 600;
    font-size: 1.7rem;
}

.amasty-conflicts-title {
    margin: 25px 0 10px;
}

.amasty-module-version div:first-child {
    margin-bottom: 10px;
}

.amasty-info-block span.message {
    display: inline-block;
}

.amasty-info-block .message.success {
    background-color: #e9fbdb;
}

a[id*='amasty_information'] {
    display: none !important;
}

.amasty-module-version .amasty-logo {
    position: relative;
    bottom: -9px;
    display: inline-block;
    max-height: 26px;
}

tr[id*='amasty_not_instaled'] .value {
    color: #f70606;
}

tr[id*='amasty_is_instaled'] .value {
    color: #0a820b;
}

.ambase-unsubscribe .message-success:before {
    display: none;
}

.ambase-unsubscribe img {
    margin-right: 10px;
    max-width: 20px;
}

.ambase-unsubscribe .message-success {
    padding: 1.8rem 4rem 1.8rem 2rem;
}

.ambase-unsubscribe .message-success span {
    vertical-align: top;
}

.accordion .config td.value.with-tooltip {
    font-size: inherit;
}

.accordion .config .value.with-tooltip div.tooltip {
    margin-top: 10px;
}

.accordion .config .value.with-tooltip div.tooltip .tooltip-content {
    max-width: 400px;
    width: 400px;
}

.value.with-tooltip .select,
.value.with-tooltip .admin__control-table {
    float: left;
}

.accordion .form-inline .config .value {
    padding-right: 4rem;
}

.ambase-search-container {
    padding: 25px;
    background-color: #f1f1f1;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTMiIGhlaWdodD0iODYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgb3BhY2l0eT0iLjEiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNOTMgMEg2Ni44MjZ2NS4zNDdDNjAuNjI2IDEuOTQxIDUzLjQ4NiAwIDQ1Ljg4NiAwIDIyLjA2OCAwIDIuNyAxOS4yNyAyLjcgNDIuOTY3czE5LjM2OSA0Mi45NjcgNDMuMTg3IDQyLjk2N2E0My4xMDUgNDMuMTA1IDAgMCAwIDIwLjk0LTUuMzk0djUuMzk0SDkzVjB6TTI1LjYwMSA0Mi45NjdjMCAxMS4xOTcgOS4xNjEgMjAuMTgxIDIwLjI4NSAyMC4xODEgMTEuMjU1IDAgMjAuMjg1LTguOTg0IDIwLjI4NS0yMC4xODEgMC0xMS4xOTctOS4wMy0yMC4xODEtMjAuMjg1LTIwLjE4MS0xMS4xMjQgMC0yMC4yODUgOC45ODMtMjAuMjg1IDIwLjE4MXoiIGZpbGw9IiMxQTFBMUEiLz48cGF0aCBkPSJNMjQuODg3IDYxLjI0MkgwVjg2aDI0Ljg4N1Y2MS4yNDJ6IiBmaWxsPSIjNTc1NzU3Ii8+PC9nPjwvc3ZnPg==);
    background-position: calc(100% - 20px) center;
    background-size: 100px;
    background-repeat: no-repeat;
    font-size: 0;
}

.ambase-search-container .ambase-title {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.ambase-search-container .ambase-wrapper {
    display: flex;
    align-items: flex-end;
    width: calc(((100% + 40px) * .77) - 40px - 15px); /*calc width by field label and input width*/
}

.ambase-search-container .ambase-input {
    flex: auto;
    margin-top: 25px;
    border: 1px solid #c2c2c2;
    border-right: 0;
}

.ambase-search-container .ambase-button {
    margin: 0;
    padding: 6px 50px;
    border: 1px solid #1787e0;
    background: #1787e0;
    color: #fff;
}
